body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.container {
    background-color: gray;
    height: 500px;
    width: 500px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo_container {
    font-size: 36px;
}

.container_form {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

label {
    font-weight: bold;
}

input {
    width: 250px;
    height: 30px;
    padding: 0 10px;
    border: none;
    border-radius: 10px;
}

input:focus {
    outline: 0;
}

button {
    height: 30px;
    width: 200px;
    background: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}